.form__container {
    background-color: rgb(48, 77, 100);
    padding: 20px;
    border-radius: 10px;
    display: block;
    max-width: 50vw;
    margin: 50px auto;
}
.form__control {
    display: flex;
    flex-direction: column;
}

#post-title,
#post-body {
    outline: none;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 7px;
    color: rgb(62, 67, 75);
}

.create-post__buttons {
    display: flex;
    justify-content: space-between;
}
