.header {
    background-color: #4c5363;
}

.header__container {
    padding: 20px;
}

.header__link {
    font-size: 34px;
    text-transform: uppercase;
}

.addPost-button {
    position: relative;
    top: -8px;
    margin-left: 20px;
    color: #89e1ff !important;
}
